<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-md">
        <div>
            <a class="navbar-brand" href="/dashboard">My Games</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link <% if(page_name === 'users') { %> active <% } %>" href="/users">Users</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link <% if(page_name === 'biodata') { %> active <% } %>" href="/biodata">User Biodata</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link <% if(page_name === 'history') { %> active <% } %>" href="/history">User History</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>