<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header') %>
    <title>Users</title>
</head>
<body>
    <%- include('../../partials/navbar') %>

    <div class="container mt-5">
        <h3>Tambah Baru User</h3>
        <div class="card mt-3">
            <div class="card-body">
                <form action="/users/create" method="post">
                    <div class="row d-flex justify-content-between gx-5">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username <span style="color: red;">*</span></label>
                                <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password <span style="color: red;">*</span></label>
                                <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Alamat Email <span style="color: red;">*</span></label>
                                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Jenis Kelamin <span style="color: red;">*</span></label>
                                <select name="gender" class="form-select" aria-label="Default select example" required>
                                    <option value="male">Laki-laki</option>
                                    <option value="female">Perempuan</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a class="btn btn-outline-dark" href="/users">Kembali</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer') %>
</body>
</html>