<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header') %>
    <title>Users</title>
</head>
<body>
    <%- include('../../partials/navbar') %>

    <div class="container mt-5">
        <h3>Detail User untuk <%= username %></h3>
        <div class="card mt-3">
            <div class="card-body">
                <div>
                    <div class="row d-flex justify-content-between gx-5">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required disabled value="<%= username %>">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password <span style="color: red;">*</span></label>
                                <input name="password" type="password" class="form-control" id="exampleInputPassword1" required disabled value="<%= password %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Alamat Email <span style="color: red;">*</span></label>
                                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="<%= email %>">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Jenis Kelamin <span style="color: red;">*</span></label>
                                <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required disabled value="<%= gender === 'male' ? 'Laki-laki' : 'Perempuan' %>">
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark" href="/users">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer') %>
</body>
</html>