<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <title>Login</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <form class="w-25 text-center">
            <h1 class="mb-4">LOGIN</h1>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button type="button" class="btn btn-primary w-100">Sign in</button>
        </form>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>